<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather APP</title>
    <link rel="stylesheet" href="/public/styles.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" />
  </head>
  <body>
    <div class="container">
      <h1>Weather APP menggunakan NodeJS</h1>
      <form action="/weather" method="get">
        <input type="text" name="city" placeholder="Masukkan Nama Kota" />
        <button type="submit">Cek Cuaca</button>
      </form>
      <% if (error) { %>
      <p class="error"></p>
      <% } else if (weather) { %>
      <div class="card">
        <p>
          <i class="fas fa-thermometer-half"></i>
          <%=weather.main.temp %>%deg;f
        </p>
        <p>
          <i class="fas fa-cloud"></i>
          <%=weather.weather[0].main %>
        </p>
        <p>
          <i class="fas fa-map-marker-alt"></i>
          <%=weather.name%>,<%=weather.sys.country%>
        </p>
      </div>
      <% } %>
    </div>
  </body>
</html>
